@font-face { font-family: silkscreen-regular; src: url('./Fonts/Silkscreen-Regular.ttf'); }
@font-face { font-family: silkscreen-bold; src: url('./Fonts/Silkscreen-Bold.ttf'); }
@font-face { font-family: ChakraPetch-Regular; src: url('./Fonts/ChakraPetch-Regular.ttf'); }


body {
    font-family: ChakraPetch-Regular;

    text-shadow: black 1px 0px;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(43, 43, 43, 0.655);
    background-image: url('Texture.jpg');
    background-blend-mode:lighten
    
}
.q {
    font-family: ChakraPetch-Regular;
    font-size: x-large;

}

h2 {
    font-family: silkscreen-regular;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;

}

header {
    font-family: silkscreen-bold;
    text-shadow: rgb(152, 41, 0) 4px 4px;
    background-image: url('Background.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;
    position: relative;
}

.profile {
    width: 200px;
    height:200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    float: left;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-info {
    margin-top: 25px;
    font-size:x-large;
}

header h1,
header p {
    margin: 0;
}

section {
    padding: 40px 0;
}

.about h2,
.eduskills h2,
.projects h2,
.contact h2 {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
}

.card {
    
    padding: 20px 20px;
    margin: 20px 0;

}
.card:hover{
    background-color: rgba(79, 19, 0, 0.539);
    border-radius: 15px;
}
.link {
    float: right;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

footer {
    background-color: #6800686e;
    padding: 10px 0;
    text-align: center;
}
ul{
    list-style-type: none;
}