<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type= "text/css" href="styles.css">

    <title>Dilshan Nanayakkara - Portfolio </title>

</head>

<body>
    <header>
        <div class="container">
            <div class="profile">
                <img src="Me.jpg" alt="Profile Photo">
            </div>
            <div class="profile-info">
                <h1>k0k1s's Gallery</h1>
            </div>
            <p><a href="index.html" class="link">Home</a>
            </p>
        </div>
    </header>
    <section class="about"> 
        <div class="container">
            <div class="card">
                <h2>Who am i</h2>
                <h4>" bio goes hheereee "</h4>
                <p></p>
            </div>
        </div>
    </section>
    <section class="eduskills">
        <div class="container">
            <div class="card">
                <h2>Education and Skills</h2>
                <h4>BSc (Hons) in Information Technology - Ongoing </h4>
                <p></p>
            </div>
        </div>
    </section>

    <footer>  
    <section class="contact">
        <div class="container">
            <h2>Contact</h2>
            <p>Feel free to reach out to me through the following</p>
            <ul>
                <li><a href="dilz.nanayakkara@gmail.com">Email</a></li>
                <li><a href="www.linkedin.com/in/dilshan-nanayakkara-001-">Linkedin</a></li>
                <li><a href="www.linkedin.com/in/dilshan-nanayakkara-001-">Instagram</a></li>
                <li><a href="www.linkedin.com/in/dilshan-nanayakkara-001-">Intigriti</a></li>
                <li><a href="www.linkedin.com/in/dilshan-nanayakkara-001-">Fiverr</a></li>
                <li><a href="https://github.com/DilzNanayakkara">GitHub</a></li>
            </ul>
        </div>
    </section>

   
        <div class="container">
            <p>&copy; Created by Dilshan Nanayakkara.2023 All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
