<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type= "text/css" href="../Style/style.css    ">

    <title>DilzNanayakkara's Site </title>

</head>

<body>
    <header>
        <h1>Your Name</h1>
      </header>
    
      <nav>
        <a href="./about.html">About Me</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact Me</a>
      </nav>
      
      <section id="contact">
        <h2>Contact Me</h2>
        <p>Your contact information and a form can go here.</p>
      </section>
    
      <footer>
        <p>Contact Me: your@email.com</p>
        <p>Follow Me: <a href="#" target="_blank">Twitter</a> | <a href="#" target="_blank">LinkedIn</a></p>
      </footer>
</body>
</html>
