<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type= "text/css" href="../Style/style.css    ">

    <title>DilzNanayakkara's Site </title>

</head>
<body>

    <div class="nav">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Home</a></li>
            <li><a href="">Home</a></li>
            <li><a href="">Home</a></li>
        </ul> 
    </div>
    <div class="page">
        <div class="title">
            <h1>Dilshan Nanayakkara's Site</h1>
             <h3>Hello There!</h3>
        </div>


        <section>
            <h2>About me</h2>
        </section>
         <section>
             <h2>Ongoing Projects</h2>
        </section>
        <section>
            <h2>Ongoing Projects</h2>
       </section>

        <section>
             <h2>Ongoing Projects</h2>
        </section>
        <section>
            <h2>Ongoing Projects</h2>
       </section>
       <section>
        <h2>Ongoing Projects</h2>
        </section>
        
        <footer>
             <h2>Contact me</h2>
            <p>Feel free to contact me</p>
        </footer>
        
    </div>
</body>
</html>
