<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type= "text/css" href="../Style/style.css    ">

    <title>DilzNanayakkara's Site </title>

</head>

<body>
    <div class="page">

        <div class="header">
            <h1>DilzNanayakkara</h1>
            
            <div class="nav">
                    <div class="title">
                        <h2>Hello There|..</h2>
                        <p><i>I'm a Cyber Security Undergraduate</i></p>
                    </div>
                    <div class="links">
                        <a href="#about">About Me</a>
                        <a href="#projects">Projects</a>
                        <a href="#contact">Contact Me</a>
                    </div>
            </div>
        </div>

        <div class="content">
            <iframe src="projects.html" width="600" height="400" frameborder="0"></iframe>
        </div>
    
        
        <div class="footer">
            <p>Contact Me: your@email.com</p>
            <p>Follow Me: <a href="#" target="_blank">Twitter</a> | <a href="#" target="_blank">LinkedIn</a></p>
        </div>

    </div>
</body>
</html>
