<!DOCTYPE html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type= "text/css" href="../Style/style.css    ">

    <title>DilzNanayakkara's Site </title>

</head>

<body >

    <div class="project-container">
      <img src="project1.jpg" alt="Project 1">
      <h2>Project 1 Title</h2>
      <p>Description of Project 1.</p>
    </div>
  
    <div class="project-container">
      <img src="project2.jpg" alt="Project 2">
      <h2>Project 2 Title</h2>
      <p>Description of Project 2.</p>
    </div>
  
    <div class="project-container">
      <img src="project3.jpg" alt="Project 3">
      <h2>Project 3 Title</h2>
      <p>Description of Project 3.</p>
    </div>
  
  </body>
</html>