<!DOCTYPE html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type= "text/css" href="../Style/style.css    ">
    <title>Projects</title>

    <title>DilzNanayakkara's Site </title>

</head>
    <style>

        .container img {
          width: 40%;
          height: 50%;
          margin-right: 10px;
        }
        .details {
            float: right;
            width: 50%;
        }
    </style>
</head>
<body>

    <center>
        <div class="container">
            <img src="../Img/project.png" alt="Project 1">
            <div class="details">
                <h2>Project 1 Title</h2>
                <p><strong><a href="#" target="_blank">Project details</a></strong></p>
            </div>
        </div>
        <div class="container">
          <img src="../Img/project.png" alt="Project 1">
          <div class="details">
              <h2>Project 1 Title</h2>
              <p><strong><a href="#" target="_blank">Project details</a></strong></p>
          </div>
      </div>
      <div class="container">
        <img src="../Img/project.png" alt="Project 1">
        <div class="details">
            <h2>Project 1 Title</h2>
            <p><strong><a href="#" target="_blank">Project details</a></strong></p>
        </div>
    </div>
    </center>

</body>
</html>
